.mdl-layout--fixed-header {
  background: url('../img/PrograWeb1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.re-size{
  width: 40px;
  height: auto;
  padding: 10px;
}

/*Style for the blog-posts*/
.demo-blog__posts .mdl-card > .mdl-card__supporting-text{
  text-align:justify; 
}
.demo-blog__posts .mdl-card > .mdl-card__media{
  text-align: center;
  text-transform: uppercase;
  background: url('../img/PrograWeb.jpg') center / cover;
  height: 150px;
}
.mdl-card {
    width: auto;
    margin: 0 auto;
    text-align: -webkit-center;
  }

.MR > .mdl-card {
    width: auto;
    margin: 0 auto;
    text-align: -webkit-center;
    background: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.MR > .demo-card-wide .mdl-card__supporting-text{
    width: inherit;
    text-align: justify;
    color:#fff;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 50px;
}
.MR > .demo-card-wide .mdl-card__supporting-text .shade {
  background: -webkit-linear-gradient(white, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
canvas{
  width: 100%;
  height: auto;
  position: center;
}

body {
  overflow: hidden;
  background: #EDEDED;
  margin: 0;
  padding: 0;
  font-family: arial;
}
p{margin:15px 0px;}

input[type="range"] {

  width:100%;

}

input[type=range] {
    -webkit-appearance: none;
    background-color: silver;
    height:10px;

}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #666;
    width: 10px;
    height: 26px;
}

input[type="button"] {
padding:5px;
  margin-bottom:5px;
  margin-top:5px;
      background-color:#FF2948;
border:0px;
  width:100%;
  color:white;
  font-weight:bold;
  font-size:14px;
}

/*input{
border:0px;
 background-color:transparent;
  margin-top:20px;
  margin-bottom:20px;
  
}
h1{padding:0px;

margin-top:0px;
}

select {
padding:5px;
  margin-bottom:5px;
  margin-top:5px;
    
  width:100%;
  
}a{
  color:#FF2948;
  font-weight:700;
  
}*/
 
input[type="text"] {

  width: 100%;
  font-family: sans-serif;
  font-size: 30px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border:0px;
  border-bottom:2px solid #FF2948;
  text-align:center;
}