<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--5-col-phone"></div>
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--12-col-phone MR">
    <div class="mdl-card demo-card-wide">
      <div class="mdl-card__supporting-text">
        <h5>
          <div id="info">
          <div class="shade">Hora: N5, Equipo #2</div>
          <div class="shade">Miembros</div>
          <div class="shade">
            Miguel A. Covarrubias Reynoso 1719246
            <br>
            Said Maciel Carizales Silva 1549021
            <br>
    Victor Alfonso Martinez Castellanos 1599274<br>
    Ivan Alejandro Trujillo Almaguer 1589077
          </div>
        </h5>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--5-col-phone"></div>
</div>