<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Programacion Web</title>
    <link rel="shortcut icon" href="{{site.baseurl}}/img/Logo.png"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue-green.min.css" />
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/stylesheet.css">

    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  </head>
  <body>
  	{{content}}
  </body>
  <script src="http://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{site.baseurl}}/js/javascript.js"></script>
</html>